CONFIG_TARGET_dongshanpi=y
CONFIG_TARGET_dongshanpi_awd1=y
CONFIG_TARGET_dongshanpi_awd1_Default=y
CONFIG_DEVEL=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_ADDGROUP=y
CONFIG_BUSYBOX_CONFIG_ADDUSER=y
CONFIG_BUSYBOX_CONFIG_AR=y
CONFIG_BUSYBOX_CONFIG_BASE32=y
CONFIG_BUSYBOX_CONFIG_BASE64=y
CONFIG_BUSYBOX_CONFIG_BC=y
CONFIG_BUSYBOX_CONFIG_BUNZIP2=y
CONFIG_BUSYBOX_CONFIG_BZCAT=y
CONFIG_BUSYBOX_CONFIG_BZIP2=y
CONFIG_BUSYBOX_CONFIG_BZIP2_SMALL=9
CONFIG_BUSYBOX_CONFIG_CKSUM=y
CONFIG_BUSYBOX_CONFIG_COMM=y
CONFIG_BUSYBOX_CONFIG_CRC32=y
CONFIG_BUSYBOX_CONFIG_DEFAULT_DEPMOD_FILE=""
CONFIG_BUSYBOX_CONFIG_DEFAULT_MODULES_DIR=""
CONFIG_BUSYBOX_CONFIG_DELGROUP=y
CONFIG_BUSYBOX_CONFIG_DELUSER=y
CONFIG_BUSYBOX_CONFIG_DIFF=y
CONFIG_BUSYBOX_CONFIG_DOS2UNIX=y
CONFIG_BUSYBOX_CONFIG_DPKG=y
CONFIG_BUSYBOX_CONFIG_ED=y
CONFIG_BUSYBOX_CONFIG_EXPAND=y
CONFIG_BUSYBOX_CONFIG_FACTOR=y
CONFIG_BUSYBOX_CONFIG_FEATURE_ADDUSER_TO_GROUP=y
CONFIG_BUSYBOX_CONFIG_FEATURE_AR_CREATE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_AR_LONG_FILENAMES=y
CONFIG_BUSYBOX_CONFIG_FEATURE_BZIP2_DECOMPRESS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_CATN=y
CONFIG_BUSYBOX_CONFIG_FEATURE_CATV=y
CONFIG_BUSYBOX_CONFIG_FEATURE_CHECK_NAMES=y
CONFIG_BUSYBOX_CONFIG_FEATURE_CUT_REGEX=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DATE_COMPAT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DATE_NANO=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DD_STATUS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DD_THIRD_STATUS_LINE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DEL_USER_FROM_GROUP=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DF_FANCY=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DIFF_DIR=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DIFF_LONG_OPTIONS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FTPD_ACCEPT_BROKEN_LIST=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FTPD_WRITE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_GUNZIP_LONG_OPTIONS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_GZIP_LONG_OPTIONS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_IPCALC_FANCY=y
CONFIG_BUSYBOX_CONFIG_FEATURE_IPCALC_LONG_OPTIONS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_IP_TUNNEL=y
CONFIG_BUSYBOX_CONFIG_FEATURE_LSMOD_PRETTY_2_6_OUTPUT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_MOUNT_VERBOSE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_PIDOF_OMIT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_PIDOF_SINGLE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_PS_LONG=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SKIP_ROOTFS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SORT_BIG=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SORT_OPTIMIZE_MEMORY=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SPLIT_FANCY=y
CONFIG_BUSYBOX_CONFIG_FEATURE_STAT_FILESYSTEM=y
CONFIG_BUSYBOX_CONFIG_FEATURE_STAT_FORMAT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SU_CHECKS_SHELLS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SU_SYSLOG=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TAR_AUTODETECT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TAR_LONG_OPTIONS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_WC_LARGE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_WGET_AUTHENTICATION=y
CONFIG_BUSYBOX_CONFIG_FEATURE_WGET_FTP=y
CONFIG_BUSYBOX_CONFIG_FEATURE_WGET_LONG_OPTIONS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_WGET_STATUSBAR=y
CONFIG_BUSYBOX_CONFIG_FEATURE_WGET_TIMEOUT=y
CONFIG_BUSYBOX_CONFIG_FIRST_SYSTEM_ID=0
CONFIG_BUSYBOX_CONFIG_FOLD=y
CONFIG_BUSYBOX_CONFIG_FTPD=y
CONFIG_BUSYBOX_CONFIG_FTPGET=y
CONFIG_BUSYBOX_CONFIG_FTPPUT=y
CONFIG_BUSYBOX_CONFIG_GETTY=y
CONFIG_BUSYBOX_CONFIG_GROUPS=y
CONFIG_BUSYBOX_CONFIG_HEXEDIT=y
CONFIG_BUSYBOX_CONFIG_HOSTID=y
CONFIG_BUSYBOX_CONFIG_INSMOD=y
CONFIG_BUSYBOX_CONFIG_INSTALL=y
CONFIG_BUSYBOX_CONFIG_IPADDR=y
CONFIG_BUSYBOX_CONFIG_IPCALC=y
CONFIG_BUSYBOX_CONFIG_IPLINK=y
CONFIG_BUSYBOX_CONFIG_IPNEIGH=y
CONFIG_BUSYBOX_CONFIG_IPROUTE=y
CONFIG_BUSYBOX_CONFIG_IPRULE=y
CONFIG_BUSYBOX_CONFIG_IPTUNNEL=y
CONFIG_BUSYBOX_CONFIG_KILLALL5=y
CONFIG_BUSYBOX_CONFIG_LAST_ID=0
CONFIG_BUSYBOX_CONFIG_LAST_SYSTEM_ID=0
CONFIG_BUSYBOX_CONFIG_LINK=y
CONFIG_BUSYBOX_CONFIG_LOGNAME=y
CONFIG_BUSYBOX_CONFIG_LSMOD=y
CONFIG_BUSYBOX_CONFIG_LSOF=y
CONFIG_BUSYBOX_CONFIG_LSPCI=y
CONFIG_BUSYBOX_CONFIG_LSUSB=y
CONFIG_BUSYBOX_CONFIG_LZCAT=y
CONFIG_BUSYBOX_CONFIG_LZMA=y
CONFIG_BUSYBOX_CONFIG_MODINFO=y
CONFIG_BUSYBOX_CONFIG_MORE=y
CONFIG_BUSYBOX_CONFIG_MOUNTPOINT=y
CONFIG_BUSYBOX_CONFIG_NL=y
CONFIG_BUSYBOX_CONFIG_NOHUP=y
CONFIG_BUSYBOX_CONFIG_NPROC=y
CONFIG_BUSYBOX_CONFIG_OD=y
CONFIG_BUSYBOX_CONFIG_PASTE=y
CONFIG_BUSYBOX_CONFIG_PATCH=y
CONFIG_BUSYBOX_CONFIG_PRINTENV=y
CONFIG_BUSYBOX_CONFIG_PSTREE=y
CONFIG_BUSYBOX_CONFIG_PWDX=y
CONFIG_BUSYBOX_CONFIG_REALPATH=y
CONFIG_BUSYBOX_CONFIG_RENICE=y
CONFIG_BUSYBOX_CONFIG_REV=y
CONFIG_BUSYBOX_CONFIG_RMMOD=y
CONFIG_BUSYBOX_CONFIG_SETSID=y
CONFIG_BUSYBOX_CONFIG_SHA1SUM=y
CONFIG_BUSYBOX_CONFIG_SHA3SUM=y
CONFIG_BUSYBOX_CONFIG_SHA512SUM=y
CONFIG_BUSYBOX_CONFIG_SHRED=y
CONFIG_BUSYBOX_CONFIG_SHUF=y
CONFIG_BUSYBOX_CONFIG_SPLIT=y
CONFIG_BUSYBOX_CONFIG_STAT=y
CONFIG_BUSYBOX_CONFIG_STTY=y
CONFIG_BUSYBOX_CONFIG_SU=y
CONFIG_BUSYBOX_CONFIG_SUM=y
CONFIG_BUSYBOX_CONFIG_TCPSVD=y
CONFIG_BUSYBOX_CONFIG_TIMEOUT=y
CONFIG_BUSYBOX_CONFIG_TRUNCATE=y
CONFIG_BUSYBOX_CONFIG_UDPSVD=y
CONFIG_BUSYBOX_CONFIG_UNCOMPRESS=y
CONFIG_BUSYBOX_CONFIG_UNEXPAND=y
CONFIG_BUSYBOX_CONFIG_UNIX2DOS=y
CONFIG_BUSYBOX_CONFIG_UNLINK=y
CONFIG_BUSYBOX_CONFIG_UNLZMA=y
CONFIG_BUSYBOX_CONFIG_UNXZ=y
CONFIG_BUSYBOX_CONFIG_UNZIP=y
CONFIG_BUSYBOX_CONFIG_USLEEP=y
CONFIG_BUSYBOX_CONFIG_UUDECODE=y
CONFIG_BUSYBOX_CONFIG_UUENCODE=y
CONFIG_BUSYBOX_CONFIG_WGET=y
CONFIG_BUSYBOX_CONFIG_WHOAMI=y
CONFIG_BUSYBOX_CONFIG_XXD=y
CONFIG_BUSYBOX_CONFIG_XZ=y
CONFIG_BUSYBOX_CONFIG_XZCAT=y
CONFIG_EXTERNAL_KERNEL_TREE="/home/yejq/program/awd1-linux-5.4"
CONFIG_EXTERNAL_TOOLCHAIN=y
CONFIG_EXTERNAL_TOOLCHAIN_LIBC_USE_GLIBC=y
CONFIG_LIBC="glibc"
CONFIG_LIBC_FILE_SPEC="./sysroot/lib64xthead/lp64d/ld{*.so*,-linux*.so.*} ./sysroot/lib64xthead/lp64d/lib{anl,c,cidn,crypt,dl,m,nsl,nss_dns,nss_files,resolv,util}{-*.so,.so.*,.so}"
CONFIG_LIBC_ROOT_DIR="/opt/riscv64-glibc-gcc-thead_20200702"
CONFIG_LIBGCC_FILE_SPEC="./sysroot/lib64xthead/lp64d/libgcc_s.so.*"
CONFIG_LIBGCC_ROOT_DIR="/opt/riscv64-glibc-gcc-thead_20200702"
CONFIG_LIBPTHREAD_FILE_SPEC="./sysroot/lib64xthead/lp64d/libpthread{-*.so,.so.*}"
CONFIG_LIBPTHREAD_ROOT_DIR="/opt/riscv64-glibc-gcc-thead_20200702"
CONFIG_LIBRT_FILE_SPEC="./sysroot/lib64xthead/lp64d/librt{-*.so,.so.*}"
CONFIG_LIBRT_ROOT_DIR="/opt/riscv64-glibc-gcc-thead_20200702"
# CONFIG_PACKAGE_blkid is not set
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_blockd=y
CONFIG_PACKAGE_hostapd-common=y
CONFIG_PACKAGE_iwinfo=y
CONFIG_PACKAGE_kmod-fs-autofs4=y
CONFIG_PACKAGE_kmod-lib-crc16=y
CONFIG_PACKAGE_kmod-libphy=y
CONFIG_PACKAGE_kmod-mii=y
CONFIG_PACKAGE_kmod-nls-base=y
CONFIG_PACKAGE_libiwinfo=y
CONFIG_PACKAGE_libiwinfo-data=y
CONFIG_PACKAGE_liblua=y
CONFIG_PACKAGE_libsmartcols=y
CONFIG_PACKAGE_lua=y
CONFIG_PACKAGE_lua-bit32=y
CONFIG_PACKAGE_luac=y
CONFIG_PACKAGE_luaposix=y
CONFIG_PACKAGE_partx-utils=y
# CONFIG_PACKAGE_ppp is not set
CONFIG_PACKAGE_strace=y
# CONFIG_PACKAGE_uboot-envtools is not set
CONFIG_PACKAGE_wpad-basic-wolfssl=y
CONFIG_STRIP_ARGS="--strip-all"
CONFIG_TARGET_EXT4_BLOCKSIZE=4096
CONFIG_TARGET_EXT4_BLOCKSIZE_4K=y
CONFIG_TARGET_EXT4_RESERVED_PCT=0
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_TARGET_NAME="riscv64-unknown-linux-gnu"
CONFIG_TARGET_OPTIONS=y
CONFIG_TARGET_ROOTFS_EXT4FS=y
CONFIG_TARGET_SUFFIX="gnu"
CONFIG_TOOLCHAIN_BIN_PATH="./usr/bin ./bin"
CONFIG_TOOLCHAIN_INC_PATH="./sysroot/usr/include"
CONFIG_TOOLCHAIN_LIBC="glibc"
CONFIG_TOOLCHAIN_LIB_PATH="./sysroot/lib64xthread/lp64d"
CONFIG_TOOLCHAIN_LTO_ARCHIVE_FIXUP=y
CONFIG_TOOLCHAIN_PREFIX="riscv64-unknown-linux-gnu-"
CONFIG_TOOLCHAIN_ROOT="/opt/riscv64-glibc-gcc-thead_20200702"
CONFIG_USE_EXTERNAL_LIBC=y
CONFIG_USE_GLIBC=y
CONFIG_USE_STRIP=y
CONFIG_WPA_MSG_MIN_PRIORITY=3
CONFIG_WPA_WOLFSSL=y
CONFIG_PACKAGE_kmod-lib-crc-ccitt=y
# CONFIG_PACKAGE_kmod-mppe is not set
CONFIG_PACKAGE_kmod-ppp=y
# CONFIG_PACKAGE_kmod-ppp-synctty is not set
# CONFIG_PACKAGE_kmod-pppoa is not set
CONFIG_PACKAGE_kmod-pppoe=y
# CONFIG_PACKAGE_kmod-pppol2tp is not set
CONFIG_PACKAGE_kmod-pppox=y
# CONFIG_PACKAGE_kmod-pptp is not set
CONFIG_PACKAGE_kmod-slhc=y
